$primary: #05F258;
$primary2: #03A62C;
$primary3: #00721c;
$primary4: #022601;

$primaryLighter: #00fd6c;
$primaryTransarent: rgba(5, 242, 88, 0.5);

$secondary: #46B477;

$dark: #0E1E2F;
$dark2: #0D0D0D;
$dark-transparent:rgba(0, 0, 0, 0.5);
$overlay:rgba(0, 0, 0, 0.3);

$gray: rgb(155, 155, 155);
$gray2: rgb(170, 170, 170);

$grayBorder: rgba(0, 0, 0, 0.2);

$light: #F2F2F2;
$whiteTransparent: rgba(255, 255, 255, 0.5);

$gold: #E5CA00;


$placed: red;
// $toDo: orange;
$inProduction: orange; 
// $readyToDeliver: $primary2;
$dispatched: $primary2;



